@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("Open Sans Regular"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("Open Sans-Bold"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}


body {
  @include indent-reset;
  min-width: 320px;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: $color-primary;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .wrapper {
  padding-left: 52px;
  padding-right: 52px;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
  padding-left: 52px;
  padding-right: 52px;
  }
}
