.footer__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer {
  background-color: $color-background;
}

.footer__logo {
  display: none;
}

.footer__copyright {
  display: block;
  width: 135px;
  text-align: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $color-secondary;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 55px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer__logo {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    width: 1150px;

  }
}
