.footer__wrapper {
  width: 320px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.footer {
  background-color: $color-background;
}

.footer__logo {
  display: none;
}

.footer__copyright {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 266px;
  margin: 0;
  padding-top: 17px;
  text-align: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $color-secondary;
}

.footer__copyright::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 6px;
  width: 260px;
  height: 1px;
  background-color: #e5e5e5;
}

.footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
	width: 50px;
  height: 50px;
}

.footer__copyright-name {
  font-size: 0;
}

.footer__copyright-icon {
  width: 27px;
  height: 34px;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 55px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .footer__logo {
    display: block;
    margin-right: 85px;
  }

  .footer__copyright {
    width: 190px;
    padding-top: 0;

    &::before {
    display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    width: 1150px;
  }
}
