.header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}


.header__logo {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 110px;

}

.header__single-line {
  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    width: 768px;
  }

  .header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .header__logo {
    order: 0;
    box-sizing: border-box;
    width: 370px;
    margin: 0;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__logo-image {
    width: 115px;
    height: 47px;
  }

  .header__single-line {
    position: absolute;
    bottom: 0;
    right: -50px;
    display: block;
    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: 1150px;
  }

  .header__container {
    display: flex;
    // flex-wrap: wrap;
    justify-content: flex-start;
  }

  .header__logo {
    width: 300px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .header__logo-image {
    width: 148px;
    height: 73px;
  }

  .header__single-line {
    bottom: 20px;
    width: 317px;
  }
}
