.header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {

}

.header__nav {

}

.header__single-line {
  display: none;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    flex-direction: row;
    width: 768px;
  }

  .header__logo {
    box-sizing: border-box;
    width: 370px;
    margin: 0;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__logo-image {
    width: 115px;
    height: 47px;
  }

  .header__single-line {
    display: block;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: 1150px;
  }

  .header__logo {
  }

  .header__logo-image {
    width: 148px;
    height: 73px;
  }

}
