.main-nav {
  width: 320px;
  position: relative;
}

// Маленькая ширина для клика

.main-nav__label {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;

  &,
  &::before,
  &::after {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 2px;
    background-color: #221f1f;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    content: "";
    transition: all 0.2s;
  }

  &::before {
    top: -6px;
}

&::after {
    top: 6px;
}

}

.main-nav__toggle[type="checkbox"]:checked + .main-nav__label {
  background-color: transparent;
}

.main-nav__toggle[type="checkbox"]:checked + .main-nav__label::before {
  top: 0;
  transform: rotate(135deg);
}

.main-nav__toggle[type="checkbox"]:checked + .main-nav__label::after {
  top: 0;
  transform: rotate(-135deg);
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  @include indent-reset;
  overflow: hidden;
  max-height: 0;
  list-style: none;
  transition: all 0.3s ease;
}

.main-nav__toggle[type="checkbox"]:checked ~ .main-nav__list {
  max-height: 320px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    width: auto;
    margin: 0;
  }

  .main-nav__label {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 670px;
    min-height: 85px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 1150px;
  }
}
