.main-nav {
  width: 320px;
  margin: 0 auto;
}

.main-nav__label {
  position: absolute;
  top: 20px;
  left: 100px;
  display: inline-block;
  height: 20px;
  width: 110px;

  cursor: pointer;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  @include indent-reset;
  overflow: hidden;
  max-height: 0;
  list-style: none;
  transition: all 0.3s ease;
}

.main-nav__toggle[type="checkbox"]:checked + .main-nav__list {
  max-height: 320px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    width: auto;
    margin: 0;
  }

  .main-nav__label {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 670px;
    min-height: 85px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 1150px;
  }
}
