@mixin indent-reset {
  margin: 0;
  padding: 0;
}

@mixin heading-primary {
  margin: 0;
  padding: 0 20px;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  color: $color-secondary;
}

@mixin heading-primary--tablet {
  font-size: 43px;
  line-height: 50px;
}

@mixin heading-primary--desktop {
  font-size: 53px;
  line-height: 57px;
}

@mixin heading-secondary {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $color-secondary;
}

@mixin heading-colorblock {
  padding-top: 72px;
  padding-bottom: 75px;
  background-color: $color-background;
}
