.about-us {
  width: 320px;
  margin-top: 50px;
  margin-bottom: 49px;
}

.about-us__title {
  width: 260px;

  @include heading-secondary;
}

.about-us__list {
  @include indent-reset;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: $color-secondary;
  list-style: none;
}

.about-us__item {
  position: relative;
  width: 255px;

  &::before {
    content: "";
    position: absolute;
    top: 34px;
    left: 0;
    width: 60px;
    height: 40px;
    background-repeat: no-repeat;
  }
}

.about-us__item p {
  @include indent-reset;
}

.about-us__item--eco {
  width: 195px;
  padding-top: 86px;

  &::before {
    top: 32px;
    left: 9px;
    background-image: url("../img/icon-feature-flower.svg");
  }
}

.about-us__item--style {
  width: 220px;
  padding-top: 84px;

  &::before {
    top: 30px;
    left: 1px;
    background-image: url("../img/icon-feature-money.svg");
  }
}

.about-us__item--likes {
  width: 200px;
  padding-top: 82px;

  &::before {
    top: 35px;
    left: 9px;
    background-image: url("../img/icon-feature-heart.svg");
  }
}

.about-us__item--local-support {
  order: 1;
  padding-top: 83px;

  &::before {
    top: 34px;
    left: -5px;
    background-image: url("../img/icon-feature-rocket.svg");
  }
}

.about-us__item--handmade {
  order: 1;
  padding-top: 83px;

  &::before {
    top: 33px;
    left: 4px;
    background-image: url("../img/icon-feature-ball.svg");
  }
}

.about-us__item--giftbox {
  width: 250px;
  padding-top: 83px;

  &::before {
    top: 31px;
    left: 4px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .wrapper.about-us {
    padding-left: 46px;
  }

  .about-us {
    width: 768px;
    margin-bottom: 78px;
  }

  .about-us__title {
    width: 678px;
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__item {
    width: 300px;
    display: flex;
    margin-right: 32px;
    padding-top: 111px;
    padding-left: 6px;
  }

  .about-us__item--eco {
    padding-top: 103px;

    &::before {
      top: 49px;
      left: 14px;
    }
  }

  .about-us__item--handmade {
    order: 1;
    padding-top: 103px;

    &::before {
      top: 52px;
      left: 10px;
    }
  }

  .about-us__item--style {
    order: 2;

    &::before {
      top: 58px;
      left: 6px;
    }
  }

  .about-us__item--local-support {
    order: 3;

    &::before {
      top: 61px;
      left: 1px;
    }
  }

  .about-us__item--likes {
    order: 4;

    &::before {
      top: 63px;
      left: 14px;
    }
  }

  .about-us__item--giftbox {
    order: 5;

    &::before {
      top: 58px;
      left: 10px;
    }
  }

  .about-us__item--eco p {
    width: 230px;
  }

  .about-us__item--style p {
    width: 260px;
  }

  .about-us__item--likes p {
    width: 240px;
  }

  .about-us__item--handmade p {
    margin-top: 0;
  }

  .about-us__item--local-support p {
    width: 300px;
  }

  .about-us__item--giftbox p {
    width: 280px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    width: 1150px;
    margin-top: 0;
    margin-bottom: 65px;
  }

  .about-us__title {
    margin-left: 175px;
    font-size: 53px;
  }

  .about-us__list {
    margin-left: 177px;
  }

  .about-us__item {
    margin-right: 48px;
  }

  .about-us__item--eco {
    padding-top: 106px;

    &::before {
      top: 52px;
      left: 13px;
    }
  }

  .about-us__item--style::before {
    top: 57px;
    left: 5px;
  }

  .about-us__item--likes::before {
    top: 63px;
    left: 12px;
  }

  .about-us__item--local-support {

    &::before {
      top: 61px;
      left: -3px;
    }
  }

  .about-us__item--handmade::before {
    top: 56px;
    left: 6px;
  }

  .about-us__item--giftbox::before {
    top: 58px;
    left: 6px;
  }
}
