.about-us {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-us__title {
  @include heading-secondary;
}

.about-us__list {
  @include indent-reset;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: $color-secondary;
  list-style: none;
}

.about-us__item {
  width: 300px;
  padding-top: 90px;
}


@media (min-width: $tablet-width) {

  .about-us__columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

}

@media (min-width: $desktop-width) {

}
