.btn {
  display: block;
  width: 260px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 25px;
  padding-right: 25px;

  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-primary;

  background-color: $color-white;
  border: 2px solid $color-primary;

  &:hover {
    color: $color-white;
    background-color: $color-primary;
  }

  &:active {
    color: rgba($color-white, 0.3);
    background-color: $color-primary;
  }
}
