.card {
  width: 320px;
}

.card__list {
  width: 260px;

  @include indent-reset;
  list-style: none;
}

.card__item {
  width: 260px;
  box-sizing: border-box;
  margin-bottom: 30px;
  border: 2px solid $color-tertiary;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card__img {
  width: 260px;
  height: 195px;
  margin-bottom: 26px;
}


.card__description {
  padding: 0 25px;
}

.card__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $color-secondary;

  &:hover {
    color: rgba($color-secondary, 0.6);
  }

  &:active {
    color: rgba($color-secondary, 0.3);
  }
}

.card__table {
  width: 205px;
  box-sizing: border-box;
  font-size: 13px;
}

.card__table-row--inline {
  display: inline;
}

.card__table-header {
  display: inline;

  @include indent-reset;
}

.card__table-cell {
  display: inline;

  @include indent-reset;
}

.card__table-row--price {
  position: relative;
  display: block;
  margin-top: 42px;
  margin-bottom: 20px;
  letter-spacing: 1.1px;
}

.card__table-row--price::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 205px;
  height: 1px;
  background-color: $color-tertiary;
}

.card__table-cell--price {
  display: inline;
  text-align: left;
  line-height: 24px;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .card {
    width: 768px;
  }

  .card__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card__item {
    width: 667px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card__img {
    width: 334px;
    height: 334px;
  }

  .card__title {
    display: block;
    width: 240px;
    margin-bottom: 5px;
    padding-top: 23px;
    font-size: 20px;
  }

  .card__table {
    font-size: 15px;
  }

  .card__table-row--price::before {
    width: 270px;
  }

  .card__table-cell--price {
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .card {
    width: 1150px;
  }

  .card__list {
    width: 1050px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card__item {
    width: 315px;
    min-height: 660px;
  }

  .card__table-row--price::before {
    width: 250px;
  }
}
