.card__list {
  @include indent-reset;
}

.card__description {
  padding: 0 20px;
}

.card__item {
  width: 260px;
  margin-bottom: 30px;
  border: 2px solid $color-tertiary;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.card__title {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $color-secondary;

  &:hover {
    color: rgba($color-secondary, 0.6);
  }

  &:active {
    color: rgba($color-secondary, 0.3);
  }
}
