.checkbox__legend.form__legend {
  margin-bottom: 30px;
}

.checkbox__field {
  display: block;
  margin-bottom: 43px;
  padding-left: 62px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}
