.contacts__email {
  position: relative;
  color: $color-primary;

  &:hover {
    color: rgba(70, 193, 174, 1);
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__email::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 0px;
  width: 185px;
  height: 1px;
  background-color: $color-primary;
}

.contacts__email:hover::before {
  background-color: rgba(70, 193, 174, 1);
}

.contacts__email:active::before {
  background-color: rgba(70, 193, 174, 0.3);
}
