.contacts {

  margin-bottom: 50px;
}

.contacts__title {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 24px;
  color: $color-secondary;
}

.contacts__table {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.contacts__table-row .contacts__table-header {
  width: 75px;
  padding-left: 3px;
  padding-bottom: 29px;
}

.contacts__direction {
  @include indent-reset;
  width: 156px;
}

.contacts__email {
  position: relative;
  color: $color-primary;

  &:hover {
    color: rgba(70, 193, 174, 1);
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__email::before {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  width: 185px;
  height: 1px;
  background-color: $color-green-light;
}

.contacts__email:hover::before {
  background-color: rgba(70, 193, 174, 1);
}

.contacts__email:active::before {
  background-color: rgba(70, 193, 174, 0.3);
}

.contacts__btn {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


@media (min-width: $tablet-width) {
  .contacts__table {
    width: 670px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__table {
    width: 305px;
  }
}
