.demonstration {
  width: 260px;
  margin-bottom: 30px;
  border: 2px solid $color-tertiary;

  &:hover {
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &:active {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }
}

.demonstration .demonstration__title {
  padding: 0 20px;
}

.demonstration__description {
  padding: 0 20px
}

