.demonstration {
  width: 320px;
}

.demonstration__content {
  width: 260px;
  margin-bottom: 60px;
  border: 1px solid $color-tertiary;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.demonstration__video {
  position: relative;
  display: block;
  margin-bottom: 27px;
}

.demonstration__play-button {
  position: absolute;
  top: 37px;
  left: 80px;
  z-index: 100;
  width: 101px;
  height: 78px;
}

.demonstration__title {
  position: relative;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $color-secondary;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 35px;
    width: 40px;
    height: 33px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.demonstration__description {
  width: 191px;
  margin: 0 auto;
  margin-bottom: 26px;
  padding-left: 2px;
  font-size: 13px;
  line-height: 24px;
}

.demonstration__btn {
  width: 192px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 17px;
  padding-top: 16px;
  line-height: 16px;
}

.demonstration__play-button:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .demonstration {
    width: 768px;
  }

  .demonstration__content {
    display: flex;
    flex-direction: column;
    width: 670px;
    margin-bottom: 63px;
  }

  .demonstration__title {
    display: block;

    @include indent-reset;
    margin-bottom: 32px;
    padding-left: 107px;
    font-size: 20px;
    line-height: 24px;

    &::before {
      top: -5px;
      left: 43px;
    }
  }

  .demonstration__description {
    width: 590px;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }

  .demonstration__video {
    order: -1;
    margin-bottom: 37px;
  }

  .demonstration__play-button {
    top: 187px;
    left: 285px;

    &:hover,
    &:focus {
      top: 179px;
      left: 274px;
      width: 121px;
      height: 94px;
    }

    &:active {
      top: 194px;
      left: 294px;
      width: 81px;
      height: 63px;
      opacity: 0.6;
    }
  }

  .demonstration__btn {
    width: 584px;
    margin-bottom: 44px;
  }
}

@media (min-width: $desktop-width) {
  .demonstration {
    width: 1150px;
  }

  .demonstration__content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 455px;
  }

  .demonstration__title {
    width: 155px;
    margin-left: 657px;
  }

  .demonstration__description {
    width: 280px;
    margin-left: 750px;
  }

  .demonstration__video {
    position: absolute;
    left: 0;
    order: -1;
  }

  .demonstration__btn {
    width: 191px;
    margin-left: 750px;
  }
}
