.form__fieldset {
  @include indent-reset;

  border: none;
}

.form__legend {
  position: relative;

  @include indent-reset;

  margin-bottom: 28px;
  letter-spacing: 2.1px;
  font-weight: bold;
  color: $color-green-light;
  text-transform: uppercase;
}

.form__legend::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 62px;
  width: 199px;
  height: 1px;
  background-color: $color-green-light;
}

.form__radio {
  margin-bottom: 10px;
}

.form__checkbox {
  margin-bottom: -8px;
}

.form__small-note {
  font-size: 14px;
  line-height: 16px;
}


