.form__fieldset {
  @include indent-reset;

  border: none;
}

.form__legend {
  position: relative;

  @include indent-reset;

  margin-bottom: 28px;
  letter-spacing: 2.1px;
  font-weight: bold;
  color: $color-green-light;
  text-transform: uppercase;
}

.form__legend::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 62px;
  width: 199px;
  height: 1px;
  background-color: $color-green-light;
}

.form__list {
  @include indent-reset;
  list-style: none;
}

.form__list.radio__list {
  margin-bottom: -7px;
}

.form__submit--wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.form__small-note {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: $color-primary;
}

.form__btn.btn {
  width: 260px;
  margin-top: 31px;
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .form {
    margin-top: 72px;
  }

  .form__legend::before {
    display: none;
  }

  .form__legend {
    width: 160px;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    font-size: 17px;
    line-height: 16px;
  }

  .form__list {
    width: 500px;
    display: inline-block;
    vertical-align: middle;
  }

  .form__field {
    font-size: 19px;
    line-height: 18px;
    letter-spacing: 1px;
  }

  .form__submit--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .form__small-note {
    width: 302px;
    align-self: baseline;
    font-size: 17px;
    line-height: 20px;
  }

  .form__btn.btn {
    order: -1;
    width: 230px;
    margin: 0;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    margin-top: 75px;
    margin-bottom: 50px;
  }

  .form__list {
    width: 800px;
  }

  .form__legend {
    width: 110px;
  }

  .form__submit--wrapper {
    width: 1150px;
    padding-left: 227px;
    padding-right: 221px;
  }
}
