.heading-index {
  min-height: 380px;
  margin: 0 auto;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18px;
  background-size: 582px auto;
  background-color: #fcfcfc;
}

.heading-index__text {
  @include heading-primary;
  @include indent-reset;
  padding-top: 72px;
}

.heading-index__text--wrapper {
  min-width: 250px;
  padding-top: 74px;
}

@media (min-width: $tablet-width) {
  .heading-index {
    min-height: 750px;
    // margin-top: -57px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: 1178px auto;
  }

  .heading-index__text {
    width: 510px;
    font-size: 43px;
  line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .heading-index {
    min-height: 750px;
    background-image: url("../img/hero-desktop@1x.jpg");
    background-size: 1391px auto;
  }

  .heading-index__text {
    width: 720px;
    font-size: 53px;
  line-height: 57px;
  }
}
