.heading--primary {
  margin: 0;
  padding: 0;
  padding: 0 20px;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  color: $color-secondary;
}

.heading--secondary {
  margin: 0;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: $color-secondary;
}

.heading--index {
  min-height: 373px;
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fcfcfc;
}

.heading--catalog,
.heading--form {
  padding-top: 75px;
  padding-bottom: 80px;
  background-color: $color-background;
}
