.heading-innerpage {
  @include heading-colorblock;
  margin-bottom: 80px;
}

.heading-innerpage__text {
  @include indent-reset;
  @include heading-primary;
}

@media (min-width: $tablet-width) {
  .heading-innerpage {
    margin-top: -70px;
  }

  .heading-innerpage__text {
    @include heading-primary--tablet;
  }
}

@media (min-width: $desktop-width) {
  .heading-innerpage {
    margin-top: -75px;
  }

  .heading-innerpage__text {
    @include heading-primary--desktop;
  }
}
