.menu {
  @include indent-reset;
}

.menu__item {
  position: relative;
  padding-top: 24px;
  padding-bottom: 25px;
  list-style: none;
}

.menu__item::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ececec;
}

.menu .menu__item.menu__item--new,
.menu .menu__item.menu__item--sale {
  display: none;
}

.menu__link {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding-left: 75px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $color-secondary;

  &:hover {
    color: rgba($color-secondary, 0.6);
  }

  &:active {
    color: rgba($color-secondary, 0.3);
  }
}


@media (min-width: $tablet-width) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .menu__item {
    text-align: right;
    padding-left: 0;
    padding-top: 14px;
  }

  .menu__item::after {
    display: none;
  }

  .menu__item--catalog {
    order: 3;
  }

  .menu__item--order {
    order: 4;
    padding-right: 14px;
  }

  .menu__item--new,
  .menu__item--sale {
    display: none;
  }

  .menu__item--catalog a,
  .menu__item--order a {
    font-size: 15px;
  }

  .menu__link {
    width: 185px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .menu {
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__item {
    width: 225px;
    padding-top: 28px;
    padding-bottom: 30px;
    text-align: left;
    border: none;
  }

  .menu__item--sale,
  .menu__item--new {
    display: block;
    padding-top: 15px;
    font-size: 15px;
    border: none;
  }

  .menu__item--new {
    width: 234px;
    // padding-left: 50px;
  }

  .menu__item--sale {
    width: 215px;
    // padding-left: 33px;
  }

  .menu__item--sale a,
  .menu__item--new a {
    font-size: 15px;
  }

  .menu__item--catalog,
  .menu__item--order {
    order: 0;
  }

  .menu__item--catalog {
    width: 234px;
    border-right: 1px solid #ececec;
  }

  .menu__item--order {
    width: 215px;
    padding-left: 33px;
  }

  .menu__link--order .menu__link,
  .menu__link--catalog .menu__link {
    font-size: 17px;
  }
}
