.popular-product {
  width: 320px;
  margin-bottom: 71px;
}

.popular-product__title {
  @include heading-secondary;
  margin-bottom: 5px;
}

.popular-product__mark {
  margin: 0;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-green-light;
}

.popular-product__text {
  width: 260px;
  @include indent-reset;
  line-height: 24px;
  margin-bottom: 21px;
}

.popular-product__table {
  width: 260px;
  margin-bottom: 25px;
}

.popular-product__table .table__header {
  padding-left: 0;
  padding-bottom: 8px;
  padding-right: 7px;
}

.popular-product__image {
  margin-bottom: -2px;
}

.popular-product__price {
  width: 130px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin-left: 63px;
  margin-bottom: 26px;
}

.popular-product__btn {
  display: block;
  width: 258px;
}

@media (min-width: $tablet-width) {
  .popular-product__title {
    display: inline-block;
  }

  .popular-product__mark {
    display: inline-block;
    width: 85px;
    text-align: center;
  }
}

// @media (min-width: $desktop-width) {
//   .popular-product {
//   }
// }
