.reviews__title {
  @include heading-secondary;
}

.reviews__list {
  @include indent-reset;
  list-style: none;
}

.reviews__text {

}

.reviews__autor-name {
  font-size: 17px;
  font-weight: bold;
  color: $color-secondary;
}

.reviews__autor-login {
  font-size: 17px;
}

.reviews__btn {
  display: block;
  width: 260px;
}

@media (min-width: $tablet-width)  {
  .reviews__text {
    width: 670px;
  }
  .reviews__btn {
    width: 176px;
  }
}

@media (min-width: $desktop-width)  {
  .reviews__text {
    width: 770px;
  }
}
