.size {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 258px;
  list-style: none;
}

.size__btn {
  width: 80px;
  min-height: 50px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $color-primary;
  background-color: $color-white;
  border: 2px solid $color-tertiary;

  &:hover {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &:active {
    border: 2px solid $color-green-light;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .size {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .size__btn {
    width: 110px;
  }
}
