.slider {

  display: flex;
  flex-direction: row;
  justify-content: center;

  @include indent-reset;
  margin-bottom: 38px;
}

.slider__btn {
  width: 130px;
  min-height: 51px;

  @include indent-reset;
  background-color: transparent;
  border: 2px solid $color-tertiary;
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;
  }
  .slider__btn {
    width: 85px;
    // border: none;
  }

  .slider__btn--back {
    position: absolute;
    top: -83px;
    right: 41px;
  }

  .slider__btn--forward {
    position: absolute;
    top: -83px;
    right: -48px;
  }
}
@media (min-width: $desktop-width) {
  .slider__btn {
    border: none;
  }
}
