.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include indent-reset;
  margin-bottom: 38px;
}

.slider__btn {
  width: 130px;
  min-height: 51px;

  @include indent-reset;
  background-color: transparent;
  border: 2px solid $color-tertiary;
}

@media (min-width: $tablet-width) {
  .slider__btn {
    border: none;
  }
}
