.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include indent-reset;
  margin-bottom: 39px;
}

.slider__btn {
  width: 130px;
  min-height: 51px;

  @include indent-reset;
  background-color: transparent;
  border: 1px solid $color-tertiary;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    position: relative;
  }

  .slider__btn {
    width: 85px;
    border: none;
  }

  .slider__btn--back {
    position: absolute;
    top: -83px;
    right: 91px;
  }

  .slider__btn--forward {
    position: absolute;
    top: -83px;
    right: -4px;
  }
}

@media (min-width: $desktop-width) {
  .slider__btn {
    border: none;
    top: -85px;
  }

  .slider__btn--forward {
    right: -160px;
  }

  .slider__btn--back {
    right: -73px;
  }
}
