.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 147px;
  box-sizing: border-box;

  @include indent-reset;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.social__item {
  list-style: none;
}

.social__name {
  font-size: 0;
}

.social__item--instagram {
  padding-top: 5px;
  margin-right: 42px;
}

.social__item--twitter {
  padding-top: 5px;
}

.social__item--facebook {
  margin-right: 39px;
}

@media (min-width: $tablet-width) {
  .social {
    margin-bottom: 0;
    padding-top: 8px;
  }
}
