.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include indent-reset;
  margin-bottom: 45px;
  padding-left: 50px;
}

.social__item {
  list-style: none;
}
