.table {
  width: 260px;
  border-collapse: collapse;
}

.table__row {
  vertical-align: top;
}

.table__header {
  width: 90px;
  text-align: left;
  font-weight: normal;

}

.table__row--border {
  border-bottom: 1px solid #ececec;
}
