.type {}

.type__item {
  padding-top: 35px;
  padding-bottom: 34px;
  padding-left: 39px;
  box-sizing: border-box;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all;

  &:hover {
    padding-bottom: 39px;
    margin-top: -5px;
  }

  &:hover .type__link {
    color: $color-white;
  }

  &:active .type__link {
    color: rgba($color-white, 0.3);
  }
}

.type__item--interior {
  background-color: $color-green-light;
}

.type__item--toys {
  background-color: $color-green-dark;
}

.type__link {
  display: block;
  // width: 120px;
  font-size: 19px;
  line-height: 24px;
  color: $color-white;
}
