.type {

}
.type__item {
  padding: 27px 20px;
  box-sizing: border-box;
  font-size: 19px;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.3s ease;

  // Увеличивается текст при наведении, а должна увеличиваться только кнопка
  &:hover {
    transform: scaleY(1.1);
  }
}

.type__item--interior {
  background-color: $color-green-light;
}

.type__item--toys {
  background-color: $color-green-dark;
}

.type__link {
  display: block;
  // width: 120px;
  font-size: 19px;
  line-height: 24px;
  color: $color-white;

  // &:hover {
  //   color: $color-white;
  //   // transform: translateY(5px);
  // }

  &:active {
    color: rgba($color-white, 0.4);
  }

}

