.type {
  margin-top: -97px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
}

.type__item {
  @include indent-reset;

  z-index: 2;
  display: block;
  padding-top: 7px;
  padding-bottom: 10px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all;

  &:active .type__name {
    color: rgba($color-white, 0.3);
  }
}

.type__item-interior {
  background-color: $color-green-light;
}

.type__item-toys {
  background-color: $color-green-dark;
}

.type__box {
  display: block;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.type__name {
  position: relative;
  display: block;
  width: 120px;
  font-size: 19px;
  line-height: 24px;
  color: $color-white;
}

.type__icon {
  position: absolute;
  right: -145px;
  top: -2px;
  fill: rgba($color-secondary, 0.2);
}

.type__icon--toys {
  top: -4px;
}

.type__item:hover .type__icon,
.type__item:focus .type__icon {
  fill: rgba($color-secondary, 0.3);
  outline: none;
}

.type__item:active .type__icon {
  fill: rgba($color-secondary, 0.1);
}

@media (min-width: $tablet-width) {
  .type {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -118px;
    margin-bottom: 47px;
  }

  .type__item {
    display: flex;
    width: 50%;
    padding-bottom: 9px;
    padding-top: 7px;

    &:hover {
      margin-top: -5px;
      padding-bottom: 14px;
    }

    &:active .type__link {
      color: rgba($color-white, 0.3);
    }
  }

  .type__box {
    width: 78%;
  }

  .type__name {
    // width: 120px;
    width: 46%;
    font-size: 20px;
    line-height: 30px;
  }

  .type__icon {
    right: -126%;
    top: 3px;
  }

  .type__icon--toys {
    right: -120%;
  }
}

@media (min-width: $desktop-width) {
  .type {
    width: 1050px;
    margin: -125px auto 47px;
  }

  .type__item {
    width: 525px;

    padding-top: 8px;
  }

  .type__box {
    padding-left: 36px;
    margin: 0;
  }

  .type__name {
    width: 125px;
  }

  .type__icon {
    right: -338px;
    top: 3px;
  }

  .type__icon--toys {
    right: -330px;
  }
}
