.user-data {
  margin-bottom: 16px;
}

.user-data__legend {
  margin-bottom: 22px;
}

.user-data__fieldset {
  margin-bottom: 8px;
}

.user-data__field {
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.user-data__field input {
  display: block;
  width: 260px;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 17px;
  font-size: 17px;
  color: $color-primary;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid $color-secondary;
  outline: none;
}

.user-data__field input:hover,
.user-data__field input:active,
.user-data__field input:focus {
  border-bottom: 2px solid $color-green-light;
}

.user-data__field input::placeholder {
  color: rgba($color-primary, 0.3);
}

.user-data__field input:-webkit-autofill,
.user-data__field input:-webkit-autofill:hover,
.user-data__field input:-webkit-autofill:focus,
.user-data__field input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset;
}

.user-data__number,
.user-data__email {
  letter-spacing: 0.2px;
}

.user-data__number.form__legend::before {
  top: 12px;
}

.user-data__email.form__legend::before {
  top: 11px;
  left: 82px;
  width: 179px;
}

.user-data__field--contacts  {
  margin-bottom: 32px;
}

.user-data__number input,
.user-data__email input {
  padding-top: 21px;
  padding-bottom: 17px;
}

.user-data__contacts {
  margin-bottom: -8px;
}

.user-data__comment.form__legend::before {
  top: 10px;
}

.user-data__textarea {
  display: block;
  box-sizing: border-box;
  width: 260px;
  min-height: 142px;
  margin-top: 18px;
  padding-top: 15px;
  padding-left: 15px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid $color-secondary;
  outline: none;
}

.user-data__textarea:hover,
.user-data__textarea:active{
  border: 2px solid $color-green-light;
}

.user-data__textarea::placeholder {
  color: rgba($color-primary, 0.3);
  letter-spacing: 0.4px;
}

@media (min-width: $tablet-width) {
  .user-data {
    padding-top: 47px;
  }

  .user-data--color {
    padding-top: 51px;
    padding-bottom: 33px;
    background-color: $color-background;
  }

  .user-data .wrapper {
    padding-right: 48px;
  }

  .user-data__legend {
    margin-top: 19px;
  }

  .user-data__field {
    margin-bottom: 20px;
  }

  .user-data__field .user-data__name input{
    width: 426px;
    margin-left: 21px;
  }

  .user-data__surname input{
    margin-left: 25px;
  }

  .user-data__patronymic input{
    margin-left: 24px;
  }

  .user-data__fieldset {
    margin-bottom: 26px;
  }
  .user-data__field input {
    display: inline-block;
    vertical-align: middle;
    width: 371px;
    padding-left: 16px;
    font-size: 19px;
    letter-spacing: 0.5px;
  }

  .user-data__contacts.form__list {
    display: block;
  }

  .user-data__contacts .form__legend {
    width: 665px;
    margin-bottom: 0;
  }

  .user-data__field--contacts {
    margin-bottom: 22px;
  }

  .user-data__field--contacts input{
    display: inline-block;
    vertical-align: middle;
    padding-top: 16px;
    padding-bottom: 14px;
    background-color: #f1f1f1;
  }

  .user-data__number input {
    width: 498px;
    margin-left: 134px;
  }

  .user-data__email input {
    width: 499px;
    margin-left: 106px;
  }

  .user-data__textblock {
    margin-top: 52px;
    margin-bottom: 44px;
  }

  .user-data__text {
    margin-bottom: 46px;
  }

  .user-data__comment.form__legend {
    display: inline-block;
    vertical-align: top;
    width: 161px;
    margin-top: 17px;
  }

  .user-data__textarea {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    margin-top: 0;
    padding-top: 13px;
    padding-left: 15px;
    font-size: 19px;
  }
}
