.user-menu {
  width: 320px;
  @include indent-reset;
}

.user-menu__item {
  width: 320px;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 75px;
  list-style: none;
  border-top: 1px solid $color-tertiary;
}

.user-menu__link {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $color-secondary;

  &:hover {
    color: rgba($color-secondary, 0.6);
  }

  &:active {
    color: rgba($color-secondary, 0.3);
  }
}

@media (min-width: $tablet-width) {

  .user-menu {
    order: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 390px;
  }

  .user-menu__item--search {
    width: 85px;
    height: 88px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }

  .user-menu__item--search .user-menu__link {
    display: none;
  }

  .user-menu__item--basket {
    order: 2;
    width: 300px;
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: 29px;
  }
}

@media (min-width: $desktop-width) {
  .user-menu {
    order: 5;
    width: 400px;
  }

  .user-menu__item--basket {
    order: 2;
    width: 300px;
    box-sizing: border-box;
    padding-left: 80px;
    padding-top: 29px;
  }
}
