.wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: $tablet-width) {
  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
